/*** nabar ***/
* , *:after, *:before
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial !important;
}
.navbar-default 
{
    background: #fff !important ;
    border: none !important ;
}

.navbar-default .navbar-brand
{
    color: #a67ecf !important;
    text-transform: uppercase;
    font-weight: bold
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover
{
    color: #a67ecf !important;
}

.navbar-default .navbar-nav>li>a
{
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover
{
    color: #a67ecf !important ;
}
/**** about section ***/
section.about {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
section.about div.narrow h1 , section.product div.narrow h1 {
    font-size: 2em;
    color: #a67ecf;
    font-weight: bold;
    margin-bottom: 2%;
}
section.about div.narrow p , section.product div.narrow p {
    color: #888;
    line-height: 1.8;
    margin-bottom: 10%;
}
section.about img {
    width: 100%;
    margin-bottom: 2%;
}
section.about div.img {
    background-image: url(../Images/work-1.jpg);
    height: 480px;
    background-size: cover;
    position: relative;
    margin-bottom: 2%;
}
section.about div.img p {
    position: absolute;
    bottom: 0;
    color: #ccc5c5;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
    margin: 0;
    font-size: 18px;
}
/*** services section ***/ 
section.services {
    width: 100%;
    height: 400px;
    margin-top: 7%;
    background-image: url(../Images/intro.jpg);
    background-attachment: fixed;
    text-align: center;
}
section.services p {
    font-size: 22px;
    border: 3px solid #fff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;
    margin-top: 15%;
    display: inline-block;
}
/*** product section ***/
section.product {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
section.product img {
    width: 100%;
    height: 250px;
}
/***** choose section ****/
section.choose {
    width: 100%;
    height: auto;
    padding: 10% 0;
    margin: 80px 0;
    background: #FAFAFA ;
}
section.choose i  {
    float: left;
    width: 20%;
    position: relative;
    top: 3px;
}
section.choose div.part{
    width: 80%;
    float: left;
}
section.choose div.part p , section.choose div.part h2 {
    margin: 0;
}
section.choose div.part h2 {
    color: #a67ecf;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2%;
}
section.choose div.part p {
    color: #888;
    font-size: 17px;
}
/*** footer ***/
footer {
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 30px;
}
footer p {
    font-size: 15px;
    color: #aaa;
}
footer i {
    padding: 8px;
    color: #fff;
    background: rgb(81, 81, 81);
    border-radius: 50%;
    size: 10px;
}